# Environment variables
.venv
.env


# Python
__pycache__/
.installed.cfg
*.log
*.pyc
*.json
*.ipynb
*.docx
test_assess.py

# folders
processed_data/
report/
instance/
migrations/


# Jupyter Notebook
.ipynb_checkpoints/

#Database 
*.db

